<template name="footer">
        <footer id="main-footer">
        <div class="container">               
                <div class="row">                     
                        <div class="col-sm-6 left-col">
                                <h1 class="small-logo">HBio<br><span>Harvard Undergraduate Biotechnology Association</span></h1>
                                <ul class="footer-nav">
                                        <li><a class="scrollto" href="#home">Home</a></li>
                                        <li><a class="scrollto" href="#services">Projects</a></li>
                                        <li><a class="scrollto" href="#portfolio">Board</a></li>
                                        <li><a class="scrollto" href="#contact">Contact</a></li>
                                </ul>
                                <p>Produced by Raul E. Jordan</p>
                        </div>
                                        
                        <div class="col-sm-6 right-col">
                                <h2>What We Do</h2>
                                <p>HBio is the largest undergraduate organization dedicated to exploring the field of biotechnology at Harvard and abroad. </p>
                        </div>
                                        
                </div><!-- End row --> 
        </div><!-- End container -->    
        </footer> 
</template><!-- End footer -->