<template name="addBoardMember">
  <div class="content-scrollable">
    <div class="wrapper-auth">
      <h1 class="title-auth">Add Member</h1>

      <form class="add-new-member-form">
        <div class="input-symbol">
          <input type="text" name="name" placeholder="Member Name" />
          <span class="icon-email" title="Member Name"></span>
        </div>

        <div class="input-symbol">
          <input type="text" name="bio" placeholder="Member Bio" />
          <span class="icon-email" title="Member Bio"></span>
        </div>

        <div class="input-symbol">
          <input type="text" name="photo" placeholder="Member Photo Url (in Assets Folder)" />
          <span class="icon-email" title="Member Photo"></span>
        </div>

        <div class="input-symbol">
          <input type="text" name="year" placeholder="Class Year (ex: '17')" />
          <span class="icon-email" title="Class Year"></span>
        </div>

        <div class="input-symbol">
          <input type="text" name="committee" placeholder="Committee" />
          <span class="icon-email" title="Committee"></span>
        </div>

        <div class="input-symbol">
          <input type="text" name="position" placeholder="Position" />
          <span class="icon-email" title="Position"></span>
        </div>
        <button type="submit" class="btn-primary">Submit</button>
      </form>
    </div>
  </div>
</template>
