<template name="signin">
  <div class="page auth">
 
    <div class="content-scrollable">
      <div class="wrapper-auth">
        
    
        <h1 class="title-auth">Sign In</h1>

        <form>
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          <div class="input-symbol {{errorClass 'email'}}">
            <input type="email" name="email" placeholder="Your Email" />
          </div>

          <div class="input-symbol {{errorClass 'password'}}">
            <input type="password" name="password" placeholder="Password" />
          </div>

          <button type="submit" class="btn-primary">Sign in</button>
        </form>
      </div>

    </div>
  </div>
</template>